#gallery {
  background-image: url(../img/bgdGrid.png);
  color: $white;
  padding-bottom: 3rem;

  display: flex;
  flex-wrap: wrap;

  header {
    margin: 3rem 0 3rem 3rem;
    background-color: $blue;
    width: 100%;
    border-radius: 1rem 0 0 1rem;
  }
}

.images {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  align-items: center;
}

.box {
  :hover {
    background: rgba($color: #3e92cc, $alpha: 0.25);
    border-radius: 1.5rem;
  }
}

.pic {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 777px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
  .box1 {
    grid-row: 1/3;
    grid-column: 1/2;
  }
  .box6 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .box3 {
    grid-row: 3/5;
    grid-column: 2/3;
  }
}

@media screen and (max-width: 450px) {
  .images {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  .box {
    grid-row: auto;
    grid-column: auto;
  }
}
